.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: hsl(0deg 0% 10%);
    overflow: hidden;
}

.fullscreen {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    border: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    height: 2.5rem;
    line-height: 2rem;
    background: hsl(0deg 0% 17%);
}

.header h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: var(--font-stack-sans-serif);
    margin-right: auto;
    color: #aaaaaa;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 100px;
    padding: 1rem;

    /* Feature/scroll */
    overflow: auto;
}

.rightPanel {
    flex: 1 1 0%;
}

.tabButtons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tabButtons:not(:first-of-type) {
    margin-top: 2rem;
}

.tabButton {
    background: none;
    border: none;
    padding: 0;
    color: hsl(0, 0%, 60%);
    font-size: 1rem;
    font-family: var(--font-stack-sans-serif);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.onlyTabButton,
.tabButton[aria-selected='true'] {
    font-weight: bold;
    color: white;
}

.tabButton[aria-selected='true'] {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.tabPanel {
    flex: 1;
    width: 100%;
}

.actionButton {
    color: white;
    cursor: pointer;
    border-radius: 0.25rem;
    width: 3rem;
    height: 1.5rem;
    font-size: 1rem;
    font-family: var(--font-stack-sans-serif);
    border: none;
    background: hsl(0, 0%, 30%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionButton:hover {
    background: hsl(0, 0%, 50%);
}

.actionButton:active {
    background: hsl(0, 0%, 20%);
}

/* Scrollbar */
.panel::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

.panel::-webkit-scrollbar-track {
    background-color: transparent;
}
.panel::-webkit-scrollbar-track:hover {
    background-color: transparent;
}

.panel::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 20%);
    border-radius: 0px;
}
.panel::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 40%);
}
